/* #cards{
    position: relative;
}
.card{
    position: absolute !important;
    top: 50%;
    left: 50%;
    width: 250px;
    transform: translate(-50%, 10%);
} */

#cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    margin-inline: 3rem;
    margin-bottom: 3vw;
    padding: 1rem;
    padding-top: 2rem;
    width: 90%;
}

@media screen and (max-width: 1600px) {
    /* *{
        color: blue !important
    } */
}

@media screen and (max-width: 1400px) {
    /* *{
        color: green !important
    } */
}
/* responsive breakpoint */
@media screen and (max-width: 1200px) {
    /* *{
        color: red !important
    } */
    #cards{
        margin-inline: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    header nav a{
        font-size: 1.2rem !important;
    }
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 600px) {
    .card-title{
        width: 80%;
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    #cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .card-title{
        font-size: 1.25rem;
    }
}

@media screen and (min-width: 1920px) {
    #cards{
        grid-template-columns: repeat(5, 1fr) !important;
        gap: 3%;
    }
}

.card {
    opacity: 0;
    transition: translate 0.25s ease-in-out;
}
.card:not(.card-quiz):hover{
    translate: 0 -4%
}
.card-visible{
    opacity: 1;
}