.card-title{
    font-size: 1.25rem;
    padding-bottom: 1.5rem;
    margin: 0;
}
#swipe-container .card{
    min-width: 200px;
    aspect-ratio: 0.6;
}
#swipe-container .card .card-title{
    font-size: 1.25rem;
}
#swipe-container{
    width: 100%;
    cursor: pointer;
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#swipe-container section{
    margin: 0;
}
#swipe-container h2{
    width: 75%;
    text-align: center;
    font-weight: 400;
    margin: 0;
    margin-top: 3%;
}
#quiz-counter{
    position: relative;
    padding: 2%;
    padding-inline: 4%;
    background-color: #948a7084;
    border: 1px solid white;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    font-family: monospace;
}
#quiz-bar{
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}
#quiz-myth{
    background-color: rgb(174, 45, 45);
    border: 0.1rem solid rgb(255, 76, 76);
    border-left: 0;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
#quiz-real{
    background-color:rgb(43, 43, 166);
    border: 0.1rem solid rgb(74, 74, 255);
    border-right: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}
#quiz-myth, #quiz-real{
    display: inline-flex;
    gap: 1rem;
    height: 100%;
    padding: 2%;
} 
.quiz-chevrons{
    display: inline-flex;
    gap: -10%;
}
#card-container{
    width: min-content;
    margin: 0 auto;
    width: 60%;
    margin-top: 3%;
}
.quiz-result{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    background-color: rgb(52, 52, 52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-height: 90%;
    padding: 2%;
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    animation: quiz-appear 0.2s forwards ease-in;
    user-select: none;
    z-index: 10000;
}
@keyframes quiz-appear {
    from{
        scale: 0.5;
    }
    to{
        scale: 1;
    }
}
.quiz-result .card-content{
    padding: 0;
    width: 60%;
}
.quiz-result .card-img {
    max-width: 250px;
}
.quiz-result .card-name{
    font-size: 1rem;
}
.quiz-result-title{
    position: relative;
    padding-block: 2%;
    width: 100%;
    transform: scaleX(1.07);
    margin-block: 2%;
}
.quiz-result-title h3{
    position: relative;
    z-index: 999;
}
.quiz-result-result{
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 1.25rem;
    outline: 1px solid white;
    padding: 2%;
    padding-inline: 4%;
    animation: bounce 1s alternate infinite ease-in-out;
    border-radius: 0.5rem;
}
@keyframes bounce {
    from{
        scale: 1;
    }
    to{
        scale: 1.1;
    }
}
.quiz-result-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem
}
.quiz-result p {
    margin-bottom: 2rem;
    font-size: 0.85rem;
}
.swiping-right {
    animation: swipe-right 1s forwards ease-in-out !important;
}
@keyframes swipe-right {
    25% {
        transform: rotateZ(5deg);
    }
    100% {
        translate: 200% 0;
    }
}
.swiping-left{
    animation: swipe-left 1s forwards ease-in !important;
}
@keyframes swipe-left {
    25%{
        transform: rotateZ(-5deg);
    }
    100%{
        
        translate: -200% 0;
    }
}
.quiz-score-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 100000;
    padding: 2%;
}
.quiz-score-title{
    font-size: 2rem;
}
.quiz-score-number{
    font-family: monospace;
    font-size: 3rem;
}
@media screen and (max-width: 600px) {
    .card-title {
        width: 80%;
        font-size: 1rem;
    }
    #card-container{
        width: 70%;
    }
}
@media screen and (min-width: 1000px) {
    #swipe-container{
        width: 30%;
    }
    #quiz-bar{
        width: 120%;
        z-index: 999;
    }
    #quiz-myth, #quiz-real{
        border-radius: 0.5rem;
    }
    #swipe-container .card .card-title {
        margin-block: 0.5rem;
        font-size: 1rem;
    }
}