#banner-all .banner-icon{
    background-image: url('/icons/lambda_gold.webp');
}
#banner-beast .banner-icon{
    background-image: url('/icons/beast_gold.webp');
}
#banner-human .banner-icon{
    background-image: url('/icons/hand_gold.webp');
}