.mega-container{
    width: 100%;
    height: 100svh;
    overflow: hidden;
    position: relative;
}
.mega-wrapper{
    position: absolute;
    top: 50%;
    left: 0%;
    width: 150%;
    animation: scroll_up 22s linear infinite;
    rotate: -10deg;
    transform: translate(0, -20%);
    z-index: 999;
}
.mega-bg{
    width: 100%;
    height: 200vh;
    background-image: url("/img/mega_low.webp");
    background-size: contain;
    background-repeat: repeat;
    background-position: center;
}
.mega-center-button{
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    z-index: 5000;
    width: max-content;
}
@keyframes scroll_up {
    0% {
        transform: translate(0, -20%);
    }
    100% {
        transform: translate(0, -70%);
    }
}

@media screen and (max-width: 1200px){
    .mega-container{
        height: 70svh;
    }
    .mega-wrapper{
        animation: scroll_up 40s linear infinite;
    }
    .mega-bg{
        height: 100svh;
        background-size: cover;
    }
}